@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,100..900&display=swap');

body {
    margin: 0.5;
    background-color: #ccc5b9;
}

h1, a, h2, p, label,input, button, select {
    font-family: SUSE;
}

h1 {
    font-size: 55px;
    margin: 0px;
}

h2 {
    text-align: center;
    background-color: #403d39;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2%;
    color: #fffcf2;
    font-size: 35px;
}

a {
    color: #fffcf2;
    font-size: 18px;
    background-color: #403d39;
    margin: 20px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 20%;
    text-decoration: none;
    font-family: Jost;
}

#contactBanner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border: 5px solid black;
    background-color: #fffcf2;
}

#contactBanner a {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #403d39;
    border: 15px solid #403d39;  
}

label {
    display: block;
    margin: auto;
    padding: 30px;
    font-size: 23px;
    color: #fffcf2;
}

button {
    width: 30%;
    height: 45px;
    display: block;
    margin: auto;
    background-color: black;
    color: #fffcf2;
}

input {
    height: 30px;
    background-color: #fffcf2;
}

input::placeholder {
    text-align: center;
    color: black;
}

select {
    display: block;
    margin: auto;
    width: 150px;
    height: 35px;
    background-color: #fffcf2;
}

@media screen and (max-width: 500px) {
    /*Banner Media*/

    h1 {
        font-size: 25px;
        grid-row: 1;
        grid-column: span 2;
        padding-bottom: 10px;
    }

    a {
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #contactBanner {
        border: 3px solid black;
        padding: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

/*End*/

    form {
        margin: 0;
        font-size: 1.5em;
    }
    
    input {
        font-size: 15px;
        height: 50px;
    }

    button {
        height: 50px;
        width: 150px;
    }

    label {
        font-size: 20px;
    }

    select {
        height: 50px;
    }

    h2 {
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }


}
