@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,100..900&display=swap');

body {
    margin: 0;
    background-color: #ccc5b9;
}

h1, a, h2, p {
    font-family: SUSE;
}

h1 {
    font-size: 55px;
    margin: 0px;
}

a {
    color: #fffcf2;
    font-size: 18px;
    background-color: #403d39;
    margin: 20px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 20%;
    text-decoration: none;
    font-family: Jost;
}

#banner a {
    margin: auto;
}

#banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border: 5px solid black;
    background-color: #fffcf2;
}

#HeaderImage {
    width: 100vh;
    max-width: 100%;
    object-fit: contain;
    /*margin: none;*/
    display: block;
    margin: auto;
    /*margin-right: auto;*/
    filter: blur(5px);
}

#bigContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#paraContainer {
    background-color: #403d39;
    color: #fffcf2;
    padding: 25px;
}

h2 {
    text-align: center;
    padding-top: 25px;
    font-size: 55px;
}

p {
    text-align: center;
    padding: 1.5%;
    font-size: 20px;
}

#imageArea {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    
}

#firstImg {
    margin-left: 5%;
    padding-top: 15px;
}

#secondImg {
    margin-left: 35%;
}

#thirdImage {
    margin-left: 65%;
    padding-bottom: 15px;
}

img {
    border-radius: 25px;
}

@media screen and (max-width: 500px) {

    h2 {
        padding: 5%;
    }

    #bigContainer {
        display: flex;
        flex-direction: column;
    }

    #imageArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #firstImg, #secondImg, #thirdImage  {
        margin: auto;
        padding-top: 15px;
    }


    /*Banner Media*/

    h1 {
        font-size: 25px;
        grid-row: 1;
        grid-column: span 2;
        padding-bottom: 10px;
    }

    a {
        font-size: 12px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #banner {
        border: 3px solid black;
        padding: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /*End*/

}





